h2 {
  font-family: Arial;
  font-size: 25px;
  font-style: normal;
  font-weight: bold;
  color: black;
  text-align: center;
  text-decoration: underline;
}
table {
  background-color: rgb(107, 250, 243);
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
}
input[type=text] {
  box-sizing: border-box;
  width: 80%;
  padding: 10px 5px;
  margin-top: 15px;
  margin-right: 15px;
  border-radius: 5px;
}
input[type=date] {
  box-sizing: border-box;
  width: 80%;
  margin: 8px 0;
  padding: 8px 5px;
  border-radius: 5px;
}
select {
  box-sizing: border-box;
  width: 80%;
  margin: 8px 0;
  padding: 10px 5px;
  border-radius: 5px;
}
textarea {
  padding: 2px;
  line-height: 1;
  border-radius: 5px;
  box-sizing: border-box;
  } 
.reset1 {
  width: 30%;
  background-color: #547ef3;
  color: white;
  padding: 12px 8px;
  margin-right: 50px;
  margin-left: -50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;

  margin-top: auto;
}
.reset2:hover{
      background-color: #584ca0;
   }
button[type=submit] {
  width: 65%;
  padding: 12px 8px;
  margin-left: 80px;
  margin-top: auto;
  /* margin-bottom: 20px; */
  margin-right: -20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #33d439;
  color: white;
  font-size: 15px;
}

button[type=submit]:hover {
  background-color: #45a049;
}
.row1{
  visibility: hidden;
  display: none;
}
.reset2{
  visibility: hidden;
  display: none;
}